@model RoomModel

@{
    ViewData["Title"] = "Eliminar Habitación";
}

<h1 class="text-center">Eliminar Habitación</h1>

<h3 class="text-center">¿Está seguro que desea eliminar?</h3>

<div class="text-center">
    <dl>
        <dt>
            <div class="text-center">
                @Html.DisplayNameFor(model => model.ID)
            </div>
        </dt>
        <dd>
            <div class="text-center">
                @Html.DisplayFor(model => model.ID)
            </div>
        </dd>
        <dt>
            <div class="text-center">
                @Html.DisplayNameFor(model => model.roomNumber)
            </div>
        </dt>
        <dd>
            <div class="text-center">
                @Html.DisplayFor(model => model.roomNumber)
            </div>
        </dd>
        <dt>
            <div class="text-center">
                @Html.DisplayNameFor(model => model.roomType)
            </div>
        </dt>
        <dd>
            <div class="text-center">
                @Html.DisplayFor(model => model.roomType)
            </div>
        </dd>
        <dt>
            <div class="text-center">
                @Html.DisplayNameFor(model => model.roomPrice)
            </div>
        </dt>
        <dd>
            <div class="text-center">
                @Html.DisplayFor(model => model.roomPrice)
            </div>
        </dd>
        <dt>
            <div class="text-center">
                @Html.DisplayNameFor(model => model.HotelId)
            </div>
        </dt>
        <dd>
            <div class="text-center">
                @Html.DisplayFor(model => model.HotelId)
            </div>
        </dd>
    </dl>
</div>

<div class="text-center">
    <form asp-action="DeleteRoom">
        <input asp-for="ID" type="hidden" class="form-control" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="ViewRoom" class="btn btn-primary">Regresar al listado</a>
    </form>
</div>

