@model HotelsModel
@{
    ViewData["Title"] = "Eliminar Hotel";
}

<h1 class="text-center">Eliminar Hotel</h1>

<h3>¿Está seguro que desea eliminar?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.hotelId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.hotelId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.hotelName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.hotelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.hotelStars)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.hotelStars)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.hotelAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.hotelAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.hotelPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.hotelPhone)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input asp-for="hotelId" type="hidden" class="form-control" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Regresar al listado</a>
    </form>
</div>
